---
// @ts-ignore
import { Icon } from "astro-icon/components"

const features = [
  {
    title: "เลือกใช้เฟรมเวิร์คที่คุณต้องการ",
    description:
      "สร้างเว็บไซต์ของคุณด้วย React, Svelte, Vue, Preact, web components หรือแค่ HTML + JavaScript ธรรมดา",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% HTML แบบ Static ไม่มี JS",
    description:
      "Astro แปลงหน้าเว็บทั้งหมดของคุณเป็น HTML แบบ static โดยไม่มีการใช้ JavaScript ในผลลัพธ์สุดท้าย",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "คอมโพเนนต์แบบ On-Demand",
    description:
      "ต้องการ JavaScript? Astro สามารถเพิ่มความสามารถให้กับคอมโพเนนต์แบบโต้ตอบได้โดยอัตโนมัติเมื่อมันปรากฏบนหน้าเว็บ",
    icon: "bx:bxs-data",
  },
  {
    title: "รองรับการทำงานร่วมกับเครื่องมือหลากหลาย",
    description:
      "Astro รองรับ TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX และแพ็คเกจ npm อื่นๆ",
    icon: "bx:bxs-bot",
  },
  {
    title: "รองรับ SEO",
    description:
      "มีระบบ sitemap อัตโนมัติ, RSS feeds, การแบ่งหน้า และ collections ที่ช่วยให้การทำ SEO และการเผยแพร่เป็นเรื่องง่าย",
    icon: "bx:bxs-file-find",
  },
  {
    title: "ชุมชน",
    description:
      "Astro เป็นโปรเจคโอเพนซอร์สที่ขับเคลื่อนโดยผู้ร่วมพัฒนาหลายร้อยคนที่สร้างผลงานนับพันรายการ",
    icon: "bx:bxs-user",
  },
]
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    ทุกสิ่งที่คุณต้องการในการเริ่มต้นสร้างเว็บไซต์
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro มีทุกอย่างที่คุณต้องการ
    พร้อมด้วยเครื่องมือที่ทันสมัยและนวัตกรรมที่เป็นเอกลักษณ์
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
